mixin input-dropdown (className, type, id, name, placeholder)
  - className = className || '';
  - type = type || 'text';
  - id = id || '';
  - name = name || '';
  - placeholder = placeholder || '';
  .input-dropdown__container
    input.input-dropdown(class=className, type=type, id=id, name=name, placeholder=placeholder, autocomplete="off", readonly="readonly")