include ../rating-stars/rating-stars

mixin room-card(room) 
  -
    var roomPrice = room['price'].toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1 '); 
    var reviewsWord;
    var lastDigit = room.reviewsNumber % 10;
    if(room.reviewsNumber >= 11 && room.reviewsNumber <= 14) {
      reviewsWord = ' Отзывов';
    } else if(lastDigit == 1) {
      reviewsWord = ' Отзыв'
    } else if(lastDigit >= 2 && lastDigit <= 4) {
      reviewsWord = ' Отзыва'
    } else {
      reviewsWord = ' Отзывов'
    };

  .room-card
    //- в данном учебном проекте все ссылки идут на страницу описания номера 888.
    a.room-card__link(href="details.html")
      .room-card__image-box
        img.room-card__image(src=require(`../../components/room-card/images/room-${room.number}.jpg`) alt=`room${room.number}`)
        .room-card__photo-nav
          .room-card__photo-cyrcle.room-card__photo-cyrcle--active
          .room-card__photo-cyrcle
          .room-card__photo-cyrcle
          .room-card__photo-cyrcle
      .room-card__info
        .room-card__row
          if room.isLuxury
            .room-card__number-group 
              span.room-card__number-symbol &#8470;&nbsp;
              span.room-card__number #{room.number}
              span.room-card__luxury  Люкс
          else
            .room-card__number-group 
              span.room-card__number-symbol &#8470;&nbsp;
              span.room-card__number #{room.number}
          .room-card__price
            | #{roomPrice}₽
            span.room-card__price-text  в сутки
        .room-card__reviews
          + rating-stars(room.rating)
          .room-card__reviews-number= room.reviewsNumber 
            span.room-card__reviews-word= reviewsWord